<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Web App</title>
    <style>
        .hidden {
            display: none;
        }

        ul {
            list-style: none;
            padding-left: 0px;
        }
    </style>
</head>

<body>

    <form id="form">
        <div>
            <label for="todo">Add todo: </label>
            <input type="text" name="todo" id="description">
        </div>
        <div>
            <input type="submit" id="submit" value="Create">
        </div>
    </form>

    <div id="error" class="hidden">Something's Wrong!</div>

    <ul id="todos">
        {% for d in data %}
        <li> <input class="checked" type="checkbox" data-id="{{ d.id }}" {% if d.completed %} checked {% endif %}>
            {{ d.description }}</li>
        {% endfor %}
    </ul>

    <script>
        const checkboxes = document.querySelectorAll('.checked')
        for (let i = 0; i < checkboxes.length; i++) {
            checkbox = checkboxes[i];
            checkbox.onchange = function (e) {
                // console.log('event', e);
                const completed = e.target.checked;
                const todo_id = e.target.dataset['id'];
                fetch('/todos/' + todo_id + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': completed
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function () {
                        document.getElementById('error').className = 'hidden'

                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    });
            }
        }
        document.getElementById('form').onsubmit = function (e) {
            e.preventDefault();
            fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (jsonResponse) {
                    console.log(jsonResponse);
                    let liItem = document.createElement('li')
                    liItem.innerHTML = jsonResponse['description']
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden'
                })
                .catch(function () {
                    document.getElementById('error').className = '';
                });
        }
    </script>
</body>

</html>